@use '../abstracts' as *;

#home__reservation-btn {
  margin-block: 6rem 7rem;

  @include mqMedium {
    margin-block: 3rem 5rem;
  }
}

#menu__reservation-btn {
  margin-block: 2rem 5rem;

  @include mqMedium {
    margin-block: 1rem 4rem;
  }
}

.reservation {
  position: relative;
  padding: 2rem 2.75rem;

  color: $white-txt;
  font-size: 1.8rem;
  text-decoration: none;

  outline: 4px solid $body-bg;
  border: 4px solid #5e353d;
  outline-offset: -0.5rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.3);

  background: url('/assets/vines.svg');
  background-size: contain;
  background-position: center;
  background-color: #5e353d;

  transition: 200ms ease;

  @include mqMedium {
    margin-inline: 0.5rem;
    font-size: clamp(1rem, 6vw, 1.3rem);
  }

  &:hover {
    border-color: #76444e;
  }

  &:active {
    transform: scale(1.03);
    border-color: #522830;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 1.9rem;
    left: 2.85rem;

    width: 0%;
    height: 1px;
    background: #e0e0e0;

    transition: 200ms ease;
  }

  &:hover::after {
    width: 70%;

    @include mqMedium {
      background: transparent;
      width: 0;
    }
  }
}
