@use '../abstracts' as *;

button,
input[type='submit'] {
  cursor: pointer;
  font-family: inherit;
  color: $white-txt;
  box-shadow: $standard-shadow;
}

// Reservation Button

.reservation {
  position: relative;
  padding: 2rem 2.75rem;

  color: $white-txt;
  font-size: 1.8rem;
  text-decoration: none;

  background: url('/assets/vines.svg');
  background-size: contain;
  background-position: center;
  background-color: #5e353d;

  outline: 4px solid #161616;
  border: 4px solid #522931;
  outline-offset: -0.5rem;
  box-shadow: $standard-shadow;
  transition: 200ms ease;

  @include mqMedium {
    margin-inline: 0.5rem;
    font-size: clamp(1rem, 6vw, 1.3rem);
  }

  &:hover {
    border-color: #9b626d;
  }

  &:active {
    transform: scale(1.03);
    border-color: #522830;
  }

  &::after {
    @include pseudoElement;
    bottom: 1.9rem;
    left: 2.85rem;

    width: 0%;
    height: 1px;
    background: #e0e0e0;

    transition: 200ms ease;
  }

  &:hover::after {
    width: 70%;

    @include mqMedium {
      background: transparent;
      width: 0;
    }
  }
}

#home__reservation-btn {
  margin-block: 6rem 7rem;

  @include mqMedium {
    margin-block: 3rem 6rem;
  }
}

#menu__reservation-btn {
  margin-block: 5.5rem 6rem;

  @include mqMedium {
    margin-block: 3.25rem;
  }
}

// Contact Form Submit

input[type='submit'] {
  position: relative;
  height: 3rem;
  margin-top: 1.5rem;

  outline-offset: 4px;
  outline: 1px solid $menu-accent;
  border: 2px solid $menu-accent;
  background: $dark-txt;

  transition: 200ms ease;

  @include mqNavbar {
    margin-top: 1rem;
  }

  &:hover {
    border-color: #9b626d;
    outline-color: #9b626d;
  }

  &:active {
    transform: scale(1.03);
    border-color: #522830;
    outline-color: #522830;
  }
}
