@use '../abstracts' as *;

// Header

header {
  background: $header-bg;
  display: grid;
  justify-content: center;

  img {
    max-width: 15rem;
    margin: auto;
    padding: 0.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

// Info

.infobar {
  display: flex;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem 0.25rem;
  font-size: 1rem;

  i {
    margin-right: 0.25rem;
    margin-top: -2px;
    padding: 2px;
    font-size: 0.9rem;
    transition: 125ms ease;
  }

  .phone {
    margin-top: -2.5px; /* Fixes bottom gap from font */
  }

  .phone::after,
  .email::after {
    content: '|';
    margin-left: 0.75rem;
  }
}

// Socials

.instagram i {
  font-size: 0.95rem;
}

.facebook:hover {
  color: #7198eb;
}

.instagram:hover {
  color: #ff5188;
}

.yelp:hover {
  color: rgb(255, 56, 56);
}
