@use '../abstracts' as *;

// Header

header {
  position: relative;
  background: $header-bg;
  display: grid;
  justify-content: center;
  z-index: 1000;

  @include mqNavbar {
    background: $mobile-header-bg;
  }

  @media all and (max-width: 350px) {
    background: $small-header-bg;
  }

  img {
    max-width: 15rem;
    margin: auto;
    padding: 0rem 0.5rem 0.5rem;

    @include mqNavbar {
      padding: 0.75rem;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

// Info

.infobar__container {
  width: 95vw;
  display: grid;
  justify-content: flex-end;
  padding-top: 0.5rem;

  @include mqNavbar {
    justify-content: center;
    margin-left: 5px;
  }
}

.infobar {
  display: flex;
  gap: 0.75rem;

  i {
    margin-top: -2px;
    padding: 2px;
    font-size: 0.9rem;
    transition: 125ms ease;

    &:not(:last-of-type) {
      margin-right: 0.4rem;
    }
  }

  .phone {
    margin-top: -2.5px; /* Fixes bottom gap from font */
  }
}

.email {
  position: relative;

  &::before {
    @include pseudoElement;
    width: 0%;
    left: 0;

    bottom: -0.25px;
    border-bottom: 1px solid white;

    transition: 150ms ease;
  }

  &:hover::before {
    width: 88%;
  }

  &:active {
    color: #c6d5e4;
  }

  &:active::before {
    border-color: #c6d5e4;
  }
}

.phone::after,
.email::after {
  content: '|';
  margin-left: 0.75rem;
}

// Socials

.instagram i {
  font-size: 0.95rem;
}

.facebook:hover {
  color: #7198eb;
}

.instagram:hover {
  color: #ff5887;
}

.yelp:hover {
  color: rgb(255, 56, 56);
}
