@use '../abstracts' as *;

// Header

header {
  background: $header-bg;
  display: grid;
  justify-content: center;

  @include mqNavbar {
    background: $mobile-header-bg;
  }

  @media all and (max-width: 350px) {
    background: $small-header-bg;
  }

  img {
    max-width: 15rem;
    margin: auto;
    padding: 0rem 0.5rem 0.5rem;

    @include mqNavbar {
      padding: 0.75rem;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

// Info

.infobar__container {
  width: 98vw;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;

  @include mqNavbar {
    justify-content: center;
  }
}

.infobar {
  display: flex;
  gap: 0.75rem;
  margin-right: 0.75rem;

  i {
    margin-right: 0.4rem;
    margin-top: -2px;
    padding: 2px;
    font-size: 0.9rem;
    transition: 125ms ease;
  }

  .phone {
    margin-top: -2.5px; /* Fixes bottom gap from font */
  }

  .email:hover {
    text-decoration: underline;
  }

  .phone::after,
  .email::after {
    content: '|';
    margin-left: 0.75rem;
  }
}

// Socials

.instagram i {
  font-size: 0.95rem;
}

.facebook:hover {
  color: #7198eb;
}

.instagram:hover {
  color: #ff5887;
}

.yelp:hover {
  color: rgb(255, 56, 56);
}
