@use '../abstracts' as *;

nav {
  @include flexCenter;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 0.75rem;
  border-top: 1px solid #ffffff11;
  background: $nav-bg;
  box-shadow: 0 0 20px rgb(0 0 0 / 0.7);

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    display: flex;
    text-transform: uppercase;
    font-size: 1.1rem;
    gap: 2rem;

    @include mqw {
      font-size: 1rem;
    }
  }

  li {
    position: relative;
    list-style: none;

    &::after {
      position: absolute;
      content: '';
      bottom: -2px;
      left: 0;

      width: 0%;
      height: 1px;
      border-radius: 50%;
      background: #e0e0e0;

      transition: 175ms ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
