@use '../abstracts' as *;

nav {
  @include flexCenter;
  position: sticky;
  top: 0;
  z-index: 999;

  padding: 0.75rem;
  border-top: 1px solid #ffffff11;
  background: $nav-bg;
  box-shadow: 0 0 20px rgb(0 0 0 / 0.7);

  .nav__toggle {
    display: none;
    padding: 0rem 0.25rem;
    cursor: pointer;

    color: $white-txt;
    font-size: 1.3rem;

    border: none;
    background: transparent;

    transition: 150ms ease;

    &:hover {
      transform: rotate(-5deg) scale(1.13);
    }

    &:active {
      transform: rotate(-5deg) scale(1);
    }
  }

  @include mqNavbar {
    .nav__toggle {
      position: absolute;
      display: block;
      padding: 0.6rem;
      left: 0.5rem;
      top: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    display: flex;
    text-transform: uppercase;
    font-size: 1.1rem;

    @include mqLarge {
      gap: 2rem;
    }

    @include mqMedium {
      font-size: 1rem;
    }

    @include mqNavbar {
      a:not([aria-current='page']) {
        display: none;
      }
    }
  }

  .showMobileNav {
    @include mqNavbar {
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }
  }

  .showMobileNav {
    animation: slideIn 0.3s forwards;

    a {
      display: block !important;
    }
  }

  li {
    list-style: none;
  }

  a {
    position: relative;

    &[aria-current='page'] {
      &::after {
        @include mqLarge {
          width: 100%;
        }
      }
    }

    &::after {
      position: absolute;
      content: '';
      bottom: -2px;
      left: 0;

      width: 0%;
      height: 1px;
      border-radius: 50%;
      background: #e0e0e0;

      transition: 175ms ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
