@use '../abstracts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

img {
  width: 100%;
  display: block;
}

body {
  background: $body-bg;
}

.sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Side Accents

.accent__container {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.accent__left,
.accent__right {
  position: fixed;
  background: linear-gradient(180deg, transparent, $body-bg);
  background-image: url('/assets/sides.svg');
  background-repeat: repeat;
  background-size: 90%;
  width: 7.5%;
  height: 100%;
  opacity: 0.6;

  &::after {
    @include pseudoElement;
    inset: 0;
    background: linear-gradient(to left, transparent 70%, $body-bg);
  }

  @include mqMedium {
    display: none;
  }
}

.accent__right {
  transform: rotate(180deg);
}

.accent__left {
  right: 0;
}
