@use '../abstracts' as *;

// Global

html {
  font-family: 'Belleza', sans-serif;
}

body {
  color: $white-txt;
  font-size: 1.15rem;

  @include mqNavbar {
    font-size: 1.05rem;
  }

  p {
    line-height: 1.6;
  }

  a {
    color: $link-txt;
    transition: 150ms;
  }
}

h1,
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: -8px; /* Fix top space from font */

  @include mqNavbar {
    font-size: 2rem;
  }
}

// Header
.infobar {
  font-size: 1rem;

  @include mqMedium {
    font-size: 0.9rem;
  }
}

// Home

// Reviews
.review__name span {
  padding-inline: 0.25rem;
  font-size: 1.3rem;
  color: #3a3a3a;
}

.review__text {
  padding-block: 0.5rem;
}

// Menu

.menu__grid {
  color: $dark-txt;
}

// "Gray House"
.menu__title {
  @include headingText;

  h3 {
    @include headingText;
    font-size: 2.8rem;

    @include mqMedium {
      font-size: 2rem;
    }
  }

  // "Authentic Mediterranean Cuisine"
  p {
    font-size: 0.95rem;

    @include mqMedium {
      font-size: 0.7rem;
    }
  }
}

// Section Headings
.menu__heading {
  @include headingText;
  font-size: 1.4rem;
}

// Item Names
.menu__name {
  font-size: 1.05rem;

  @include mqSmall {
    font-size: 0.95rem;
  }

  span {
    font-size: 0.8rem;
  }
}

// Item Descriptions
.menu__description {
  font-size: 0.8rem;
  color: $faded-txt;
  line-height: 1.3;
}

// Special Menu Sections
.menu__beverages,
.menu__sides {
  p {
    font-size: 0.9rem;
    color: $medium-txt;
  }
}

.menu__soups-dressings {
  font-size: 0.8rem;
  color: $menu-accent-txt;
}

// Contact

// Inputs
input,
textarea {
  font-size: 1.05rem;
  font-family: inherit;
}

// Submit Button
input[type='submit'] {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-shadow: -1px 1px 8px rgba(127 127 127 / 0.8);
}

// "Required"
.form__required {
  font-size: 0.8rem;
  color: rgba(223 160 160 / 0.7);
}
