@use '../abstracts' as *;

html {
  font-family: 'Belleza', sans-serif;
}

h1,
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: -8px; /*Fixes top space from font */
}

body {
  color: $white-txt;
  font-size: 1.15rem;

  p {
    line-height: 1.5;
  }

  a {
    color: $link-txt;
    transition: 150ms;
  }
}
