@use '../abstracts' as *;

// Global

html {
  font-family: 'Belleza', sans-serif;
}

h1,
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: -8px; /* Fixes top space from font */

  @include mqNavbar {
    font-size: 2.3rem;
  }
}

body {
  color: $white-txt;
  font-size: 1.15rem;

  p {
    line-height: 1.5;
  }

  a {
    color: $link-txt;
    transition: 150ms;
  }
}

// Header
.infobar {
  font-size: 1rem;

  @include mqMedium {
    font-size: 0.9rem;
  }
}

// Home

.review__name span {
  padding-inline: 0.25rem;
  font-size: 1.3rem;
  color: #3a3a3a;
}

.review__text {
  padding-block: 0.5rem;
}

// Menu

.menu__grid {
  color: $dark-txt;
}

.menu__heading {
  @include headingText;
  font-size: 1.4rem;
}

.menu__name {
  font-size: 1.05rem;

  @include mqSmall {
    font-size: 0.95rem;
  }

  span {
    font-size: 0.8rem;
  }
}

.menu__description {
  font-size: 0.8rem;
  color: $faded-txt;
  line-height: 1.3;
}

.menu__beverages,
.menu__sides {
  p {
    font-size: 0.9rem;
    color: $medium-txt;
  }
}

.menu__soups-dressings {
  font-size: 0.8rem;
  color: $menu-accent-txt;
}
