@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gridCenter {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin pseudoElement {
  position: absolute;
  content: '';
}

@mixin mqMedium {
  @media all and (max-width: 950px) {
    @content;
  }
}

@mixin mqSmall {
  @media all and (max-width: 470px) {
    @content;
  }
}

@mixin mqNavbar {
  @media all and (max-width: 650px) {
    @content;
  }
}

@mixin mqLarge {
  @media all and (min-width: 651px) {
    @content;
  }
}
