@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin twoCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin pseudoElement {
  position: absolute;
  content: '';
}

@mixin headingText {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

@mixin mqXXLarge {
  @media all and (min-width: 3000px) {
    @content;
  }
}

@mixin mqXLarge {
  @media all and (min-width: 1201px) {
    @content;
  }
}

@mixin mqLarge {
  @media all and (min-width: 651px) {
    @content;
  }
}

@mixin mqMedium {
  @media all and (max-width: 1200px) {
    @content;
  }
}

@mixin mqNavbar {
  @media all and (max-width: 650px) {
    @content;
  }
}

@mixin mqSmall {
  @media all and (max-width: 470px) {
    @content;
  }
}
