@mixin flexCenter {
  display: flex;
  justify-content: center;
}

@mixin mqMedium {
  @media all and (max-width: 950px) {
    @content;
  }
}

@mixin mqSmall {
  @media all and (max-width: 470px) {
    @content;
  }
}

@mixin mqNavbar {
  @media all and (max-width: 650px) {
    @content;
  }
}
