@use '../abstracts' as *;

.contact {
  // Header Image

  .contact__headerImg-container {
    background-image: url('/assets/contact.png');
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;

    min-height: 25vh;
    box-shadow: $home__headerImg-shadow;

    @include mqXLarge {
      margin-inline: 7.5%;
    }

    @include mqNavbar {
      background-attachment: scroll;
    }
  }

  .contact__container {
    @include flexCenterCol;
    margin-bottom: 7rem;

    @include mqNavbar {
      margin-bottom: 4rem;
    }
  }

  // Heading

  h2 {
    position: relative;
    margin-block: $contact__headerImg-margin;

    @include mqMedium {
      margin-block: $contact__headerImg-margin--medium;
    }

    // Left Accent Line

    &::before {
      @include pseudoElement;
      top: 55%;
      left: -100%;

      border-bottom: 1px solid $white-txt;
      width: 80%;

      @include mqNavbar {
        width: 50%;
        left: -65%;
      }
    }

    // Right Accent Line

    &::after {
      @include pseudoElement;
      top: 55%;
      right: -100%;

      width: 80%;
      border-bottom: 1px solid $white-txt;

      @include mqNavbar {
        width: 50%;
        right: -65%;
      }
    }
  }

  form {
    position: relative;
    @include flexCenterCol;
    gap: 2rem;
    width: 50vw;
    max-width: 1300px;
    padding: 4rem 8vw 3.5rem;

    background: $card-bg;
    border: 2px solid $menu-accent;
    outline: 1px solid $menu-accent;
    outline-offset: -10px;
    box-shadow: $standard-shadow;

    @include mqMedium {
      width: 65vw;
      padding-bottom: 0.7rem;
    }

    @include mqNavbar {
      gap: 1rem;
      width: 90vw;
      padding-bottom: 0.25rem;
    }

    // Required Text

    &::after {
      position: absolute;
      content: '* Required';

      top: 0.75rem;
      left: 0.75rem;

      font-size: 0.9rem;
      color: rgba(223 160 160 / 0.7);
    }

    // Bottom Left Image

    &::before {
      @include pseudoElement;

      width: 43rem;
      height: 96%;
      left: -102.2px;
      bottom: -39.5px;

      background-image: url('/assets/lemon_frame.png');
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;

      @include mqMedium {
        display: none;
      }
    }

    // Top Right Image

    img {
      position: absolute;
      width: 9rem;

      right: -3.8rem;
      top: -2.8rem;
      transform: rotate(9.5deg);

      @include mqMedium {
        display: none;
      }
    }

    // Labels

    label {
      display: block;
      font-size: 1.3rem;
      width: 100%;
    }

    // Inputs

    input,
    textarea {
      display: block;
      width: 100%;
      box-shadow: 2px 2px 10px black;
    }

    textarea {
      margin-top: 0.75rem;
      padding: 0.6rem 0.75rem;
      resize: none;
      border: none;
    }

    input:not([type='submit']) {
      padding: 0.5rem 0.75rem;
      margin-top: 0.75rem;
      border: none;
    }

    .form__personal-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 2rem;

      @include mqNavbar {
        flex-direction: column;
        gap: 1.5rem;
      }
    }

    .form__message {
      margin-block: 0.9rem 0.6rem;

      color: transparent;
      transition: 250ms ease;
      animation: fadeIn 2s ease;

      @include mqSmall {
        font-size: 0.9rem;
      }
    }
  }
}
