@use '../abstracts' as *;

.contact {
  // Header Image

  .contact__headerImg-container {
    background-image: url('/assets/contact.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;

    min-height: 25vh;
    box-shadow: $home__headerImg-shadow;

    @include mqNavbar {
      background-attachment: scroll;
    }
  }

  .contact__container {
    @include flexCenter;
    flex-direction: column;
    margin-bottom: 7rem;

    @include mqNavbar {
      margin-bottom: 5rem;
    }
  }

  h2 {
    position: relative;
    margin-block: $contact__headerImg-margin;

    @include mqMedium {
      margin-block: $contact__headerImg-margin--medium;
    }

    // Left Accent Line
    &::before {
      @include pseudoElement;
      border-bottom: 1px solid $white-txt;
      top: 55%;
      left: -100%;
      width: 80%;

      @include mqNavbar {
        width: 50%;
        left: -65%;
      }
    }

    // Right Accent Line
    &::after {
      @include pseudoElement;
      border-bottom: 1px solid $white-txt;
      top: 55%;
      right: -100%;
      width: 80%;

      @include mqNavbar {
        width: 50%;
        right: -65%;
      }
    }
  }

  form {
    @include flexCol;
    align-items: center;
    width: 50vw;
    gap: 2rem;
    padding: 3rem 8vw;

    @include mqMedium {
      width: 65vw;
    }

    @include mqNavbar {
      width: 90vw;
    }

    background: $card-bg;
    border: 2px solid $menu-accent;
    outline: 1px solid $menu-accent;
    outline-offset: -10px;
    box-shadow: $standard-shadow;

    label {
      display: block;
      font-size: 1.3rem;
      width: 100%;
    }

    input,
    textarea {
      font-size: 1.05rem;
      box-shadow: 2px 2px 10px black;
      border: none;
      font-family: inherit;
      width: 100%;
    }

    input:not([type='submit']) {
      display: block;
      padding: 0.5rem 0.75rem;
      margin-top: 0.75rem;
      border: none;
    }

    .form__personal-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 2rem;
    }

    textarea {
      display: block;
      resize: none;
      font-family: inherit;
      margin-top: 0.75rem;
      border: none;
      padding: 0.6rem 0.75rem;
    }

    input[type='submit'] {
      margin-top: 0.5rem;
      width: 8rem;
      height: 3rem;

      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-transform: uppercase;

      outline-offset: 4px;
      outline: 1px solid $menu-accent;
      border: 2px solid $menu-accent;
      background: $dark-txt;
      text-shadow: -1px 1px 8px rgba(127 127 127 / 0.8);
    }
  }
}
