@use '../abstracts' as *;

.home {
  .home__header-img {
    margin-bottom: 7rem;
    box-shadow: 0 0 25px rgb(0 0 0 / 0.4);
  }

  .home__img {
    max-width: 35vw;
    object-fit: cover;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.3);
  }

  section {
    margin-inline: 15vw;
    margin-bottom: 7rem;
  }

  .paragraph {
    @include flexCenter;
    gap: 3rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    a {
      display: block;
      width: 7rem;

      &:hover {
        color: $link-hover;
      }
    }

    i {
      font-size: 1rem;
    }
  }
}

.reviews {
  .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 1rem calc(1rem + 5vw);
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .review__row-container {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-block: 0.5rem;
    border-bottom: 1px solid #3a3a3a;
  }

  .review__name span {
    padding-inline: 0.5rem;
    font-size: 1.3rem;
    color: #3a3a3a;
  }

  .review__text {
    padding-block: 0.5rem;
  }

  .stars {
    width: 7.25rem;
  }

  .grid-container::after {
    content: '';
    position: absolute;
    top: 0.9rem;
    left: 50%;

    width: 1px;
    height: 93%;
    background: #3a3a3a;
  }
}

.reservation-container {
  @include flexCenter;
}
