@use '../abstracts' as *;

.home {
  .home__header-img {
    margin-bottom: 5.5rem;
  }

  .home__img {
    max-width: 35vw;
    object-fit: cover;
  }

  .paragraph {
    @include flexCenter;
    margin-inline: 15vw;
    gap: 3rem;
    margin-bottom: 5.5rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      display: block;
      width: 7rem;
    }

    i {
      font-size: 1rem;
    }
  }
}
