@use '../abstracts' as *;

.menu {
  margin-inline: 15vw;
  margin-bottom: 7rem;

  @include mqMedium {
    margin-inline: 6vw;
    margin-bottom: 4rem;
  }

  @include mqNavbar {
    margin-inline: 0rem;
  }

  .menu__container {
    @include flexCenter;
    flex-direction: column;
    margin-block: 2rem 4rem;
    //TODO: Make margins consistent with variables
    gap: 2rem;
    overflow: hidden;
  }

  h2 {
    position: relative;

    &::before {
      @include pseudoElement;
      border-bottom: 1px solid $white-txt;
      width: 80%;
      top: 55%;
      left: -100%;
    }

    &::after {
      @include pseudoElement;
      border-bottom: 1px solid $white-txt;
      width: 80%;
      top: 55%;
      right: -100%;
    }
  }

  .menu__grid {
    position: relative;
    @include gridCenter;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    padding: 3rem 1rem;

    color: $dark-txt;
    outline: 4px solid $dark-txt;
    outline-offset: -8px;
    background: url('/assets/paper.png');
    background-repeat: repeat-y;

    @include mqNavbar {
      grid-template-columns: 1fr;
    }
  }

  // Title

  .menu__title {
    grid-column: span 2;
    @include flexCenter;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;

    h3 {
      position: relative;
      font-size: 2.8rem;
      font-weight: 500;

      @include mqNavbar {
        font-size: 2rem;
      }

      &::after {
        @include pseudoElement;
        border-bottom: 1px solid $dark-txt;
        width: 100%;
        left: 0;
        bottom: 0;
      }
    }

    p {
      font-size: 0.95rem;

      @include mqNavbar {
        font-size: 0.7rem;
      }
    }
  }

  // Branches

  .menu__branch {
    position: absolute;
    width: 10rem;

    @include mqNavbar {
      width: 8rem;
    }

    @include mqSmall {
      display: none;
    }
  }

  .branch1 {
    top: 0rem;
    left: -0.25rem;
    transform: rotate(20deg);

    @include mqNavbar {
      top: 0.75rem;
    }
  }

  .branch2 {
    top: 0.75rem;
    right: -0.25rem;
    transform: rotate(200deg);

    @include mqNavbar {
      top: 1.25rem;
    }
  }

  // Main content

  .menu__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0.5rem;
    padding-block: 1rem;
  }

  .menu__appetizers,
  .menu__entrees,
  .menu__sides,
  .menu__pictures {
    grid-column: 1;
  }

  .menu__heading {
    position: relative;
    margin-bottom: 0.5rem;
    margin-inline: auto;
    text-align: center;
    width: 12rem;

    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;

    &::after {
      @include pseudoElement;
      width: 100%;
      bottom: -0.35rem;
      left: 0;
      border-bottom: 1px solid $dark-txt;
    }
  }

  .menu__name {
    font-size: 1.05rem;

    @include mqSmall {
      font-size: 0.95rem;
    }

    span {
      font-size: 0.8rem;
    }
  }

  .menu__description {
    font-size: 0.8rem;
    color: $faded-txt;
    line-height: 1.3;
  }

  .menu__item-sides {
    display: grid;
    gap: 0.1rem;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    color: $medium-txt;
    font-size: 0.8rem;

    .menu__item {
      width: 10rem;
    }

    @include mqMedium {
      gap: 0.1rem 0.5rem;
    }

    @include mqSmall {
      grid-template-columns: 1fr;
    }
  }

  //TODO: Reduce the amount of breakpoints

  .menu__pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid #bc8a94;
    border-bottom: 2px solid #bc8a94;
    padding-block: 0.5rem;
    margin-block: 1rem;
    width: 100%;

    @include mqNavbar {
      justify-content: center;
      gap: 2vw;
    }

    img {
      width: 4.5rem;
      box-shadow: 0 0 15px rgb(0 0 0 / 0.15);

      @include mqSmall {
        &:last-of-type {
          display: none;
        }

        width: 30%;
      }
    }
  }
}
