@use '../abstracts' as *;

// Menu Page

.menu {
  // Main Margins
  margin-inline: $menu__main-marginInline;

  @include mqMedium {
    margin-inline: $menu__main-marginInline--medium;
  }
  @include mqNavbar {
    margin-inline: $menu__main-marginInline--small;
  }

  // Page Container
  .menu__container {
    @include flexCenter;
    flex-direction: column;
    overflow: hidden;
  }

  // Heading "Menu"
  h2 {
    position: relative;
    margin-block: $menu__main-margin;

    @include mqMedium {
      margin-block: $menu__main-margin--medium;
    }

    // Left Accent Line
    &::before {
      @include pseudoElement;
      border-bottom: 1px solid $white-txt;
      top: 55%;
      left: -100%;
      width: 80%;
    }

    // Right Accent Line
    &::after {
      @include pseudoElement;
      border-bottom: 1px solid $white-txt;
      top: 55%;
      right: -100%;
      width: 80%;
    }
  }

  // Menu Grid
  .menu__grid {
    @include twoCol;
    position: relative;
    box-shadow: $standard-shadow;

    @include mqMedium {
      grid-template-columns: $one-column;
      padding-inline: $menu__main-padding--medium;
    }

    @include mqLarge {
      max-width: 1000px;
    }

    width: 100%;
    padding: $menu__main-padding;

    outline: 4px solid $dark-txt;
    outline-offset: -8px;

    background: url('/assets/paper.png');
    background-repeat: repeat-y;
  }

  // Left Column
  .col1 {
    grid-column: 1;
  }

  // Right Column
  .col2 {
    grid-column: 2;
    padding-left: $menu__rightCol-paddingLeft;

    @include mqMedium {
      grid-column: 1;
      padding: 0rem;
    }
  }

  // Title "Gray House"
  .menu__title {
    grid-column: span 2;

    @include flexCenter;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;

    @include headingText;

    // "Gray House"
    h3 {
      position: relative;

      @include headingText;
      font-size: 2.8rem;

      @include mqMedium {
        font-size: 2rem;
      }

      // Underline
      &::after {
        @include pseudoElement;
        border-bottom: 1px solid $dark-txt;
        width: 100%;
        left: 0;
        bottom: 0;
      }
    }

    // "Authentic Mediterranean Cuisine"
    p {
      font-size: 0.95rem;

      @include mqMedium {
        font-size: 0.7rem;
      }
    }
  }

  // Branch SVGs
  .menu__branch {
    position: absolute;
    width: $menu__branch-width;

    @include mqMedium {
      width: $menu__branch-width--medium;
    }

    @include mqSmall {
      display: none;
    }
  }

  // Left Branch Position
  .branch-left {
    top: 0rem;
    left: -0.25rem;
    transform: rotate(20deg);

    @include mqMedium {
      top: 0.75rem;
    }
  }

  // Right Branch Position
  .branch-right {
    top: 0.75rem;
    right: -0.25rem;
    transform: rotate(200deg);

    @include mqMedium {
      top: 1.25rem;
    }
  }

  // Menu Content

  // Menu Sections
  .menu__section {
    @include flexCol;
    gap: $menu__section-gap;
    padding-inline: $menu__section-paddingInline;
    padding-block: $menu__section-paddingBlock;
  }

  // Special Section (Soups & Salads, Beverages)
  .menu__soups,
  .menu__beverages {
    margin-top: $menu__specialSection-marginTop;
    padding: $menu__specialSection-padding;
    gap: 0rem;

    outline: 1px solid $menu-accent;
    outline-offset: 0px;
  }

  // Section Headings
  .menu__heading {
    position: relative;
    width: 12rem;
    margin-inline: auto;
    margin-bottom: $menu__heading-marginBottom;

    // Underline
    &::after {
      @include pseudoElement;
      width: 100%;
      bottom: -0.35rem;
      left: 0;
      border-bottom: 1px solid $dark-txt;
    }
  }

  // Special Sections
  .menu__soups-container,
  .menu__beverages-container {
    padding: 1rem;
    border: 8px solid $menu-accent;

    @include mqMedium {
      margin-top: 0rem;
    }
  }

  // Sides Section
  .menu__item-sides {
    @include twoCol;
    gap: 0.1rem;
    margin-inline: auto;

    @include mqMedium {
      gap: $menu__sides-gap--medium;
    }

    @include mqSmall {
      grid-template-columns: $one-column;
    }

    .menu__item {
      width: 10rem;
    }
  }

  // Salad Dressings
  .menu__soups-dressings {
    height: min-content;
    margin-top: -1px;
    padding: $menu__dressings-padding;
    background: $menu-accent;

    p {
      // "Salad Dressings"
      &:first-of-type {
        position: relative;
        margin-bottom: 0.25rem;

        // Line
        &::after {
          @include pseudoElement;
          width: 65%;
          top: 50%;
          left: 6rem;
          border-bottom: 1px solid #a0626e;

          @include mqMedium {
            display: none;
          }
        }
      }
    }
  }

  // Pictures
  .menu__pictures {
    display: flex;
    justify-content: space-evenly;
    padding-block: $menu__pictures-paddingBlock;
    margin-top: 1rem;

    width: 100%;
    border-top: $menu__pictures-border;
    border-bottom: $menu__pictures-border;

    img {
      width: 20%;
      box-shadow: $menu__pictures-shadow;

      // Remove 4th image on smallest screen size
      @include mqSmall {
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}
